In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
students = pd.DataFrame({'phone':['25541409', '25578414'], 'age':[12, 11]},index ={'Tharun', 'Deepak'})
students

        age     phone
Deepak   12  25541409
Tharun   11  25578414

In [13]:
students.index

Index(['Deepak', 'Tharun'], dtype='object')

In [15]:
df = pd.DataFrame(np.random.randn(6,4), index=['Tharun', 'Shiv', 'Narayan', 'Nandi', 'Uma', 'Paru'], columns=list('ABCD'))

In [16]:
df

                A         B         C         D
Tharun   1.490591 -0.013084 -0.447056 -0.892231
Shiv    -1.107859 -0.339994  1.379304 -0.418470
Narayan -0.731968 -1.292536 -0.148453  0.058893
Nandi    0.321369 -0.109085  0.391725 -1.155668
Uma      0.427887  0.767930  0.382892  0.589152
Paru     0.016926 -0.988562  0.900305  0.113634

In [ ]:
                                         *Series Generates 1 D data*