In [1]:
import pandas as pd
import numpy as np

In [2]:
# TIMES
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
# TIMES
rng = pd.date_range('2016 Jul 1 10:15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2016-07-31 10:15:00', '2016-08-31 10:15:00',
               '2016-09-30 10:15:00', '2016-10-31 10:15:00',
               '2016-11-30 10:15:00', '2016-12-31 10:15:00',
               '2017-01-31 10:15:00', '2017-02-28 10:15:00',
               '2017-03-31 10:15:00', '2017-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

In [5]:
# TIMES
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'H')
rng

DatetimeIndex(['2016-07-01 00:00:00', '2016-07-01 01:00:00',
               '2016-07-01 02:00:00', '2016-07-01 03:00:00',
               '2016-07-01 04:00:00', '2016-07-01 05:00:00',
               '2016-07-01 06:00:00', '2016-07-01 07:00:00',
               '2016-07-01 08:00:00', '2016-07-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [6]:
# TIMES
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'B')
rng

DatetimeIndex(['2016-07-01', '2016-07-04', '2016-07-05', '2016-07-06',
               '2016-07-07', '2016-07-08', '2016-07-11', '2016-07-12',
               '2016-07-13', '2016-07-14'],
              dtype='datetime64[ns]', freq='B')

In [9]:
# TIMES
rng = pd.date_range(start = '2016 Jul 15 10:15', end = '2016 July 25', freq = '8H')
rng

DatetimeIndex(['2016-07-15 10:15:00', '2016-07-15 18:15:00',
               '2016-07-16 02:15:00', '2016-07-16 10:15:00',
               '2016-07-16 18:15:00', '2016-07-17 02:15:00',
               '2016-07-17 10:15:00', '2016-07-17 18:15:00',
               '2016-07-18 02:15:00', '2016-07-18 10:15:00',
               '2016-07-18 18:15:00', '2016-07-19 02:15:00',
               '2016-07-19 10:15:00', '2016-07-19 18:15:00',
               '2016-07-20 02:15:00', '2016-07-20 10:15:00',
               '2016-07-20 18:15:00', '2016-07-21 02:15:00',
               '2016-07-21 10:15:00', '2016-07-21 18:15:00',
               '2016-07-22 02:15:00', '2016-07-22 10:15:00',
               '2016-07-22 18:15:00', '2016-07-23 02:15:00',
               '2016-07-23 10:15:00', '2016-07-23 18:15:00',
               '2016-07-24 02:15:00', '2016-07-24 10:15:00',
               '2016-07-24 18:15:00'],
              dtype='datetime64[ns]', freq='8H')

## normalize - start and end dates to midnight

In [13]:
# TIMES
rng = pd.date_range(start = '2016 Jul 15 10:15', end = '2016 July 25', freq = '8H', normalize=True)
rng

DatetimeIndex(['2016-07-15 00:00:00', '2016-07-15 08:00:00',
               '2016-07-15 16:00:00', '2016-07-16 00:00:00',
               '2016-07-16 08:00:00', '2016-07-16 16:00:00',
               '2016-07-17 00:00:00', '2016-07-17 08:00:00',
               '2016-07-17 16:00:00', '2016-07-18 00:00:00',
               '2016-07-18 08:00:00', '2016-07-18 16:00:00',
               '2016-07-19 00:00:00', '2016-07-19 08:00:00',
               '2016-07-19 16:00:00', '2016-07-20 00:00:00',
               '2016-07-20 08:00:00', '2016-07-20 16:00:00',
               '2016-07-21 00:00:00', '2016-07-21 08:00:00',
               '2016-07-21 16:00:00', '2016-07-22 00:00:00',
               '2016-07-22 08:00:00', '2016-07-22 16:00:00',
               '2016-07-23 00:00:00', '2016-07-23 08:00:00',
               '2016-07-23 16:00:00', '2016-07-24 00:00:00',
               '2016-07-24 08:00:00', '2016-07-24 16:00:00',
               '2016-07-25 00:00:00'],
              dtype='datetime64[ns]', freq='8H')

In [10]:
len(rng)

29

## Timezone

In [12]:
# TIMES
rng = pd.date_range(start = '2016 Jul 15 10:15', end = '2016 July 25', freq = '8H', tz='Asia/Kolkata')
rng

DatetimeIndex(['2016-07-15 10:15:00+05:30', '2016-07-15 18:15:00+05:30',
               '2016-07-16 02:15:00+05:30', '2016-07-16 10:15:00+05:30',
               '2016-07-16 18:15:00+05:30', '2016-07-17 02:15:00+05:30',
               '2016-07-17 10:15:00+05:30', '2016-07-17 18:15:00+05:30',
               '2016-07-18 02:15:00+05:30', '2016-07-18 10:15:00+05:30',
               '2016-07-18 18:15:00+05:30', '2016-07-19 02:15:00+05:30',
               '2016-07-19 10:15:00+05:30', '2016-07-19 18:15:00+05:30',
               '2016-07-20 02:15:00+05:30', '2016-07-20 10:15:00+05:30',
               '2016-07-20 18:15:00+05:30', '2016-07-21 02:15:00+05:30',
               '2016-07-21 10:15:00+05:30', '2016-07-21 18:15:00+05:30',
               '2016-07-22 02:15:00+05:30', '2016-07-22 10:15:00+05:30',
               '2016-07-22 18:15:00+05:30', '2016-07-23 02:15:00+05:30',
               '2016-07-23 10:15:00+05:30', '2016-07-23 18:15:00+05:30',
               '2016-07-24 02:15:00+05:30', '2016-07-24 10:15:00+05:30',
               '2016-07-24 18:15:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='8H')

In [15]:
type(rng[0])

pandas._libs.tslib.Timestamp

## You could also use only end dates, or with negative dates

## Check out the Docs for more - https://pandas.pydata.org/pandas-docs/stable/timeseries.html

# Which of these formats DON'T work?
'2016 Jul 1', '7/1/2016', '1/7/2016', 'July 1, 2016', '2016-07-01', '2016/07/01'

# Is '7/1/2016 in January or July?

What is the class of an individual object held in the date_range?

In [16]:
# TIME STAMPS VS TIME SPANS
pd.Timestamp('2016-07-10')

Timestamp('2016-07-10 00:00:00')

In [17]:
# You can also more details 
pd.Timestamp('2016-07-10 10')

Timestamp('2016-07-10 10:00:00')

In [18]:
# Or even more...
pd.Timestamp('2016-07-10 10:15')

Timestamp('2016-07-10 10:15:00')

# How much detail can you add?

# What are some properties of timestamps? Try them out.
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components
t = pd.Timestamp('2016-07-10 10:15')

In [23]:
t = pd.Timestamp('2016-07-10 10:15:15.1234567')
t

Timestamp('2016-07-10 10:15:15.123456700')

In [27]:
t = pd.Timestamp('2016-07-10 10:15:15.1234567')
t.dayofweek

6

In [28]:
t = pd.Timestamp('2016-07-10 8pm')
t

Timestamp('2016-07-10 20:00:00')

In [26]:
t.weekday_name

'Sunday'

In [ ]:
# TIME SPANS
pd.Period('2016-01')

# What's that extra info above? How does it get set?

In [35]:
pd.Period('2016-01-01')   #period is for the whole period, ex: this is for the whole day

Period('2016-01-01', 'D')

In [36]:
pd.Period('2016-01-01 10') #whole hour

Period('2016-01-01 10:00', 'H')

In [37]:
pd.Period('2016-01-01 10:10')

Period('2016-01-01 10:10', 'T')

In [38]:
pd.Period('2016-01-01 10:10:10')

Period('2016-01-01 10:10:10', 'S')

# What's the most detailed Period you can get?

# How can you make multiple time periods? 
# Hint look for analogy with pd.date_range() above

In [29]:
# TIME OFFSETS
pd.Timedelta('1 day')

Timedelta('1 days 00:00:00')

In [30]:
# TIME OFFSETS
pd.Timedelta('3 days 1us')

Timedelta('3 days 00:00:00.000001')

In [34]:
# TIME OFFSETS
pd.Timedelta('1 day 15ns')*1000

Timedelta('1000 days 00:00:00.000015')

In [39]:
pd.Period('2016-01-01 10:10') + pd.Timedelta('1 day')

Period('2016-01-02 10:10', 'T')

In [40]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('1 day')

Timestamp('2016-01-02 10:10:00')

In [ ]:
pd.Timestamp('2016-01-01 10:10') + pd.Timedelta('15 ns')

In [53]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = '60T', periods = 10)

PeriodIndex(['2016-01-01 10:10', '2016-01-01 11:10', '2016-01-01 12:10',
             '2016-01-01 13:10', '2016-01-01 14:10', '2016-01-01 15:10',
             '2016-01-01 16:10', '2016-01-01 17:10', '2016-01-01 18:10',
             '2016-01-01 19:10'],
            dtype='period[60T]', freq='60T')

In [54]:
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [ ]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01 10:10', freq = '25H', periods = 10)

In [ ]:
p2 = pd.period_range('2016-01-01 10:10', freq = '1D1H', periods = 10)

In [ ]:
p1

In [ ]:
p2

In [ ]:
# What are some other combos you can produce?
# hint: http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [57]:
# INDEXING WITH TIME OBJECTS
# You can use these objects for indices
# Let's start with using a date range as above
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng
pd.Series(range(len(rng)), index = rng)

2016-07-01    0
2016-07-02    1
2016-07-03    2
2016-07-04    3
2016-07-05    4
2016-07-06    5
2016-07-07    6
2016-07-08    7
2016-07-09    8
2016-07-10    9
Freq: D, dtype: int32

In [ ]:
# You can also use time period indices, in cases where it makes more sense 
# to think about your index as a time span rather than a single point in time

periods = [pd.Period('2016-01'), pd.Period('2016-02'), pd.Period('2016-03')]
ts = pd.Series(np.random.randn(len(periods)), index = periods)
ts

In [ ]:
# What type is the index for ts?
type(ts.index)

In [ ]:
# Experiment with various indices
# Hint: does ts['2016'] work?

In [59]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.date_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00:00    0
2016-07-10 09:00:00    1
2016-07-10 10:00:00    2
2016-07-10 11:00:00    3
2016-07-10 12:00:00    4
2016-07-10 13:00:00    5
2016-07-10 14:00:00    6
2016-07-10 15:00:00    7
2016-07-10 16:00:00    8
2016-07-10 17:00:00    9
Freq: H, dtype: int32

In [58]:
# Timestamped data can be convereted to period indices with to_period and vice versa with to_timestamp
ts = pd.Series(range(10), pd.period_range('07-10-16 8:00', periods = 10, freq = 'H'))
ts

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [60]:
ts_period = ts.to_period()
ts_period

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
2016-07-10 12:00    4
2016-07-10 13:00    5
2016-07-10 14:00    6
2016-07-10 15:00    7
2016-07-10 16:00    8
2016-07-10 17:00    9
Freq: H, dtype: int32

In [61]:
ts_period['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of overlap with time periods

2016-07-10 08:00    0
2016-07-10 09:00    1
2016-07-10 10:00    2
2016-07-10 11:00    3
Freq: H, dtype: int32

In [ ]:
ts['2016-07-10 08:30':'2016-07-10 11:45'] # we have the concept of include with timestamps

## How to determine if a timestamp lies between the periods

In [43]:
p = pd.Period('2017-01')
p

Period('2017-01', 'M')

In [44]:
timestamp = pd.Timestamp('2017-01-15')
timestamp

Timestamp('2017-01-15 00:00:00')

In [49]:
p.start_time < timestamp < p.end_time

True

## Anchored Offsets
W-Sun
W-MON
.....
refer docs

### Use day_first flag for indian type dates DD/MM/YYYY

In [63]:
pd.to_datetime('4/3/2016' , dayfirst = True)

Timestamp('2016-03-04 00:00:00')

### generate string representation from a timestamp - Extracting YYYY from timestamp